<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slate</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>

<body>
    <!-- <h1>Hi username</h1>
    <h1>create notes edit notes delete show notes</h1>
    <h1>show folder</h1>
    <h1>no name file done</h1>
    <h1>changing background color</h1>
    <h1>ai chat and see characters</h1> -->
    <div class="header">
        <h1>slate</h1>
        <h2>Hi,<%= username%>
        </h2>
        <input type="text" name="query" placeholder="search note">
    </div>
    <h2 class="wp">write plan</h2>
    <div class="newNote">
        <div class="box">
            <a href="/create/<%=username %>"><img src="/assets/plus.png" alt="file dig"></a>
            <a href="/create/<%=username %>" class="h5">Take a note</a>
            <a href="/create/<%=username %>" class="h3">Create a new note</a>
        </div>
    </div>
    <hr class="divider">
    <h2 class="revisit">revisit</h2>
    <!-- trying to get the document length for that user infact how to link user and note user can have many notes every note can have only i user that it belongs to  -->
    <div class="prevNote">
        <% if(notes.length>0){ notes.forEach(function(note){ %>
            <div class="note">
                <div class="top">
                <h3>
                    <%= note.title %>
                </h3>
               <a href="/readmore/<%=username%>/<%= note.title%>"><img src="/assets/readmore.png"></a>
            </div>
                <hr>
                <div class="data">
                    <p>
                        <%= note.data %>
                    </p>
                </div>
            </div>
            <% }); }else{ %>
                <div class="noNote">
                    <h1 class="noNoteHead">No notes as of yet</h1>
                    <a href="/create/<%=username %>" class="noNoteLink">create</a>
                </div>
                <% } %>
    </div>
    <footer>
        <div class="reference">
        <div class="refbox">
            <h2>slate</h2>
        </div>
        <div class="box">
            
            <ul>
                <h3>Company</h3>
                <li>About Us</li>
                <li>Security</li>
                <li>Terms&privacy</li>
            </ul>
        </div>
        
        <div class="box">
            <ul>
                <h3>Resources</h3>
                <li>Help Center</li>
                <li>Community Center</li>
                <li>Blog</li>
            </ul>
        </div>
        
        <div class="box">
            <ul>
                <h3>slate for</h3>
                <li>Enterprise</li>
                <li>Business</li>
                <li>Personal</li>
                <li>Startups</li>
            </ul>
        </div>
        
        </div>
        </footer>
</body>

</html>