<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slate</title>
    <link rel="stylesheet" href="/stylesheets/readNote.css">
</head>
<body>
    <a class="homeLink" href="/dashboard/<%= username%>">home</a>
    <a href="/delete/<%= title%>/<%= username%>"><img src="/assets/delete.png"></a>
    <div class="createNote">
        <h2><%= title%></h2>
        <hr>
        <p><%= data%></p>
</div>
</body>
</html>